/* Write your CSS here */
.movie-item {
  margin: 5px;
  padding: 8px;
  background-color: black;
}
.trigger-button {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
}

@media screen and (max-width: 768px) {
  .thumbnail {
    width: 100px;
    height: 100px;
  }
}

.menu {
  font-size: 30px;
  color: white;
}
